*{
    margin: 0;
    padding: 0;

}

body {
    text-align: left;
    padding-left: 5%;
}

h1 {
    text-align: center;
    margin: 5%;
}

.container {
    display: flexbox;
    flex-direction: column;
    margin-bottom: 5%;
}

#stacked {
    direction: column;

}